<mat-card id="reset-password-request-form-holder">
    <form class="reset-password-request-form" (ngSubmit)="sendPasswordResetRequest()" #resetPasswordRequestForm="ngForm" name="passwordResetRequestForm">
        <mat-form-field class="form-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email..." 
            name="email"
            type="email" 
            [formControl]="emailFormControl"
            required>

            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="errorOnRequest">
                {{ errorMessage }}
            </mat-error>

        </mat-form-field>       

        <button mat-button color="primary" class="form-btn">Send</button>
        <div class="clearfix"></div>
    </form>
</mat-card>

