#reset-password-request-form-holder{
    width: 40%;
    display: block;
    margin: 8% auto;
}

.form-input{
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}

.form-btn{
    background: #3f51b5;
    color: #fff;
    float: right;
    margin-top: 16px;
}